<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Location is required for BLE scan -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Of course, Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- Required for BLE scan -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        android:minSdkVersion="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Required for BLE connection -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
</manifest>
